/* // styles.scss // */
:root {
  --yellow: #fecb00;
  --green: #bed600;
  --blue: #0094b3;
  --teal: #006778;
  --navy: #003d4c;
  --dtext: #4a4a4a;
  --white: #ffffff;
  --black: #363636; }

.html_stretched #wrap_all {
  background-color: #f7f7f7; }

.container {
  border-bottom-color: transparent;
  border-top-color: transparent; }

.wddm-container {
  padding-top: 70px;
  padding-bottom: 70px; }

.portfolio-container {
  margin-bottom: 80px; }

.team-img-container img {
  height: 18rem; }

.footer-container {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background: #0094b3;
  height: 60px; }
  .footer-container .container {
    height: 60px; }
    .footer-container .container span {
      line-height: 30px; }
    .footer-container .container ul {
      height: 100%;
      margin-top: 0; }
      .footer-container .container ul li a i {
        font-size: 1.4rem; }

img.header-logo-main {
  height: 60px;
  width: auto;
  padding-bottom: 6px; }

strong.logo {
  height: 60px; }
  strong.logo img {
    padding-top: 6px; }
  strong.logo a {
    height: 60px; }

.html_header_top.html_header_sticky.html_large #header_main .container, .html_header_top.html_header_sticky.html_large.html_main_nav_header .main_menu ul:first-child > li a {
  height: 60px;
  line-height: 60px; }

.avia-menu-text {
  line-height: 60px; }

.html_header_top.html_header_sticky.html_large #main {
  padding-top: 60px; }

.header_color div {
  border-top-color: transparent; }

#mobile-advanced li > a:before,
.html_header_mobile_behavior #mobile-advanced span > a:before,
#mobile-advanced .mega_menu_title:before {
  content: none; }

#mobile-advanced {
  background-color: rgba(54, 54, 54, 0.8);
  border: none; }
  #mobile-advanced a {
    background: #fff; }

a#advanced_menu_hide,
a#advanced_menu_toggle {
  border: none; }

a#advanced_menu_hide {
  background: none; }
  a#advanced_menu_hide i {
    color: #bed600;
    font-size: 36px; }

a.advanced_menu_hide i,
a.advanced_menu_toggle i {
  line-height: 46px;
  font-size: 28px; }

ul#mobile-advanced span.avia-menu-text {
  font-size: 24px;
  text-align: center; }

footer {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fecb00;
  border: transparent; }
  footer i {
    color: #ffffff; }

.footer_color {
  text-align: center; }
  .footer_color a {
    color: #363636;
    line-height: 2;
    display: block; }
  .footer_color h4 {
    color: #006778;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px; }

.footer_float {
  float: right; }

#socket .social_bookmarks {
  margin-top: 0; }

#socket .social_bookmarks li {
  height: 30px;
  top: 0; }

@font-face {
  font-family: 'entypo-fontello';
  font-weight: normal;
  font-style: normal;
  src: url("../config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.eot");
  src: url("../config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.eot") format("embedded-opentype"), url("../config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.woff") format("woff"), url("../config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.ttf") format("truetype"); }

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important; }

#top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before {
  font-family: 'entypo-fontello'; }

#top #main .avia-section .template-page {
  border-bottom-color: transparent;
  border-top-color: transparent; }

img#wpstats {
  display: none; }

iframe {
  margin-left: auto;
  margin-right: auto; }

.notification {
  padding: 0.5rem; }

img.display {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.showcase-bg {
  background-image: url("./assets/img/class01_1920.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

h1.av-special-heading-tag {
  color: #003d4c;
  font-weight: 100;
  width: 100%;
  font-size: 2.2em;
  border-bottom: 1px solid #003d4c; }

av-special-heading-h1 {
  padding: 0; }

.section-connect {
  background: #ffffff; }

.section-header {
  margin-bottom: 40px; }

.wddm-content {
  padding-bottom: 40px; }

div.card {
  padding: 0; }

div.card-content {
  padding: 18px; }
  div.card-content p {
    text-align: justify; }

header.card-header {
  margin: 0; }
  header.card-header p {
    color: #ffffff; }
  header.card-header i {
    margin-right: 8px; }

hr.lin {
  margin: 10px 0px;
  border: 0;
  height: 5px;
  background: #a60000;
  background-image: -webkit-linear-gradient(left, #003d4c, #006778, #0094b3, #bed600, #fecb00);
  background-image: -moz-linear-gradient(left, #003d4c, #006778, #0094b3, #bed600, #fecb00);
  background-image: -ms-linear-gradient(left, #003d4c, #006778, #0094b3, #bed600, #fecb00);
  background-image: -o-linear-gradient(left, #003d4c, #006778, #0094b3, #bed600, #fecb00);
  width: 100%; }

hr.lin-r {
  margin: 10px 0px;
  border: 0;
  height: 5px;
  background: #a60000;
  background-image: -webkit-linear-gradient(left, #fecb00, #bed600, #0094b3, #006778, #003d4c);
  background-image: -moz-linear-gradient(left, #fecb00, #bed600, #0094b3, #006778, #003d4c);
  background-image: -ms-linear-gradient(left, #fecb00, #bed600, #0094b3, #006778, #003d4c);
  background-image: -o-linear-gradient(left, #fecb00, #bed600, #0094b3, #006778, #003d4c);
  width: 100%; }

#av_section_4 {
  border-image: none;
  border: none;
  background: transparent;
  padding-bottom: 12px; }

.avia-section-small .content, .avia-section-small .sidebar {
  padding-bottom: 0; }

figure .image {
  padding: 0;
  margin: 0; }

.showcase-h1 {
  margin-top: 40px; }

a.iconbox_icon {
  margin-right: 3vw; }

i.fa {
  line-height: 30px;
  color: #ffffff; }

i.fa-envelope-o {
  color: #fecb00; }

i.showcase-icon {
  font-size: 2.5rem; }

i.student-icon {
  color: #0094b3; }

i.success-icon {
  color: #bed600; }

.card {
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  padding: 16px; }
  .card h3 {
    font-weight: 600;
    font-size: 24px; }

#main, .avia-msie-8 .av_header_sticky_disabled#header {
  background: #f7f7f7; }

.website-image {
  height: 350px;
  padding: 5px; }

p.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #003d4c; }

p.subtitle {
  font-size: 0.9rem;
  margin-top: 20px; }

p.title:not(.is-spaced) + .subtitle {
  margin-top: -1rem;
  margin-bottom: 12px; }

p.subtitle-class {
  margin-top: 6px;
  padding-left: 0;
  font-size: 0.8rem; }

.student-contact-icon {
  float: right;
  margin-top: -6px;
  padding: 0;
  color: #fecb00; }

span.student-date {
  float: right; }

.is-website {
  border-top: 2px solid #fecb00; }

.is-video {
  border-top: 2px solid #bed600; }

.box {
  border-radius: 0; }

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* set height to pixels if you want angle to change with screen width */ }

span.copyright {
  font-size: 14px;
  color: #fecb00; }

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */
@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */ }

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */
@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */ }


/*
/
/ tablescript.css
/
*/

/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: linear-gradient(#fecb00, #bed600, #0094b3, #006778, #003d4c);
    width: 100%;
}
/* style for table float and background design */
/* Style the buttons inside the tab */

div.tab button {
    width: 110px;
    height: 80px;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*# sourceMappingURL=app.css.map*/